* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins' ;
    color: #191919;
}


.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding-inline: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    border-bottom: 3px solid #F1F1F1;
}
 
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.logo-img {
    width: 130px;
    height: 37px;
}

.list {
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
}

.hero {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.main-text {
    width: 300px;
    margin-right: 20px;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 38px;   /*changed */
    line-height: 46px;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.read-more-botton {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    padding: 12px 36px;
    background: #52D0F0;
    border-radius: 4px;
    display: inline-block;
}

.image {
    width: 200px;
    height: 235px;
}

img {
    width: 100%;
}



@media screen and (max-width: 470px) {
    header {
        flex-direction: column;
    }

    .list {
        padding-top: 15px;
    }

    .hero {
        flex-direction: column;
    }

    .image {
        position: absolute;
        z-index: 1;
    }

    h1 {
        margin-top: 250px;
        text-align: center;
    }

    p {
        text-align: center;
    }
    .read-more-botton {
        margin-left: 70px;
    }

}